/* keep all color related to background8*/

/* ALL TEXT */
*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

/* ONLY SMALL TEXT (CONTENT) */
p{
    line-height: 1.6;                /*line spacing*/
    color: #333;                   /*smth to do w background color*/
    background-color: white;       /*background gray*/
    padding: 0px;                    /*spacing btwn text*/
}

/* ------------------------------------------------------------------ */
/* NAV BAR */
.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.9);     /* DON'T CHANGE */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);      /* DON'T CHANGE */
    z-index: 1000;
}

.logo{
    font-size: 1.8rem;
    font-weight: bold; 
    color: purple; 
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-links{
    display: flex;
    gap: 2rem;
}

.nav-links a{
    color: black;
    text-decoration: none;      /* gets rid of the line link */
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color:  lightblue;
}

.mobile-menu-btn{
    display: none;      /* gets rid of the hamburger menu button */
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}


/* RESPONSIVE DESIGN FOR THE NAV BAR */

@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: 70px;
        right: -100%;
        flex-direction: column;
        background: white;
        width: 70%;
        height: 100vh;
        padding: 2rem;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease;
        gap: 1rem;
    }
    
    .nav-links.active {
        right: 0;
    }
    
    .mobile-menu-btn {
        display: block;
    }
    
    .about-content {
        grid-template-columns: 1fr;
    }
}

/* --------------------------------------------------------------------- */
/* STYLING FOR FOOTER */
footer{
    max-width: 900px;               /*makes all boxes 900px - so they're not full screen size*/
    margin: 0 auto;                 /*centers boxes, keeps everything from shifting to left */
    text-align: center;             /*centers the footer*/ 
    background-color: #ffffff;    /*background color for footer*/
    border-radius: 20px;            /*rounds the corners*/ 
    padding: 10px;                  /*space around the text in box - the green area*/
    margin-bottom: 20px;            /*leaves a bit of  space past the box*/
    color: gray;
}
